@font-face {
  font-family: "MusticaPro";
  src: url("../fonts/MusticaPro-SemiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeImageIn {
  from {
    opacity: 0;
    transform: translate(-100%, -50%) scale(1);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: transparent;
}

body {
  font-family: "MusticaPro", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 64px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  padding-left: 3%;
}

.title-screen {
  background-color: rgb(128, 0, 0);
}

.settings-screen {
  background-color: rgb(128, 0, 0);
  background: transparent;
}

.hidden {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu button {
  font-family: "MusticaPro", sans-serif;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 64px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.menu button:hover {
  color: rgb(255, 128, 128);
}

.menu button.active {
  color: rgb(128, 0, 0);
}

.fade-line {
  opacity: 0;
  transform: translateX(-50px);
  visibility: hidden;
}

.animate-line {
  animation: fadeSlideIn 0.3s ease-in-out forwards;
  visibility: visible;
}

img.title {
  position: absolute;
  top: 55%;
  left: 70%;
  max-width: 40vw;
  height: auto;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 1));
}

.fade-img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 70%;
  max-width: 40vw;
  height: auto;
}

.animate-img {
  animation: fadeImageIn 0.5s ease-in-out forwards;
  visibility: visible;
}
